<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @club.name %>
</p>

<p>
  <b>Street address:</b>
  <%= @club.street_address %>
</p>

<p>
  <b>Bands:</b>
  <%= @club.bands.map{|band| band.name}.join(", ")  %>
</p>

<p>
  <b>Dates:</b>
  <%= @club.bookings.map{|booking| booking.show_time}.join(", ")  %>
</p>


<%= link_to 'Edit', edit_club_path(@club) %> |
<%= link_to 'Back', clubs_path %>
