<%= form_for(@booking) do |f| %>
  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% @booking.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :band %><br />
    <%= f.collection_select(:band_id, Band.all,:id,:name) %>
  </div>
  <div class="field">
    <%= f.label :club %><br />
    <%= f.collection_select(:club_id, Club.all,:id,:name) %>
  </div>
  <div class="field">
    <%= f.label :fee %><br />
    <%= f.text_field :fee %>
  </div>
  <div class="field">
    <%= f.label :show_time %><br />
    <%= f.datetime_select :show_time %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
