<p id="notice"><%= notice %></p>

<p>
  <b>Band:</b>
  <%= @booking.band.name %>
</p>

<p>
  <b>Club:</b>
  <%= @booking.club.name %>
</p>

<p>
  <b>Fee:</b>
  <%= @booking.fee %>
</p>

<p>
  <b>Show time:</b>
  <%= @booking.show_time %>
</p>


<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
