<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @band.name %>
</p>

<p>
  <b>Num members:</b>
  <%= @band.num_members %>
</p>

<p>
  <b>Club:</b>
  <%= @band.clubs.map{|club| club.name}.join(", ") %>
</p>

<p>
  <b>Fee:</b>
  <%= @band.bookings.map{|booking| booking.fee}%>
</p>

<p>
  <b>Date:</b>
  <%= @band.bookings.map{|booking| booking.show_time}%>
</p>

<%= link_to 'Edit', edit_band_path(@band) %> |
<%= link_to 'Back', bands_path %>
